<ul>
  {{#each todos as |todo|}}
    {{#if todo.url}}
      <li>
        <a href="{{todo.url}}" target="_blank">{{todo.title}}</a>
        <input type="checkbox">
      </li>
    {{else}}
      <li>
        {{todo.title}}
        <input type="checkbox">
      </li>
    {{/if}}
  {{/each}}
</ul>
