@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
  background-color: #121212;
  background-image: url('public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: sans-serif;
  height: 100%;
}

form {
  background-color: #F0E68C;
  border-radius: 3px;
  height: 45vh;
  margin: auto;
  padding: 1em;
  text-align: center;
  transform: rotate(-10deg);
  width: 45vh;

  h2 {
    font-size: 1.5em;
    margin-top: 15%;
  }

  input {
    background-color: #F0E68C;
    border-radius: 5px;
    width: 200px;
  }

  .date {
    width: 60%;
  }
}

.notepad {
  background-image: url('public/notepad.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-family: Verdana, sans-serif;
  height: 750px;
  margin: 15vh 40vh 15vh 0;
  width: 450px;

  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin-top: 5vh;
    text-align: center;
  }

  section {
    margin: auto;
    width: 85%;
  }
}

// @media only screen and (max-width: 700px) {
//   body {
//     background-size: 130vw 130vh;
//   }
// }
